<div class="container" style="margin: 100px auto;">
  <div class="row">
    <div class="col">
      <form action="/admin/login" method="post">
        <div class="form-group">
          <input type="text" name="usuario" class="form-control mar-b15" placeholder="Usuario" id="inputUser">
        </div>
        <div class="form-group">
          <input type="password" name="password" class="form-control mar-b15" placeholder="Password" id="inputPassword">
        </div>
        <button type="submit" class="btn btn-primary mar-b15">Ingresar</button>
      </form>
      {{#if error}}
      <p>Usuario o contraseña incorrecto</p>
      {{/if}}
    </div>
  </div>
</div>