<div class="container" style="amrgin:50px auto">
    <div class="row">
        <div class="col">
            <p class="text-right">Hola {{usuario}}!<a class="btn btn-danger" href="/admin/login/logout">Cerrar sesion <i
                        class="fa-solid fa-arrow-right-from-bracket"></i></a></p>

        </div>
    </div>
</div>