<main>
    <div class="comidas">
        <div class="comida"><a href="/desayuno"><img src="\images\index\foodiesfeed.com_coffee-latte-with-croissant.jpg"
                    alt="Desayuno">
                <p class="texto">Desayuno</p>
            </a>
        </div>
        <div class="comida"><a href="/almuerzo"><img src="\images\index\pexels-anthony-leong-2092906.jpg" alt="Almuerzo">
                <p class="texto">Almuerzo</p>
            </a>
        </div>
        <div class="comida"><a href="/merienda"><img src="\images\index\pexels-pixabay-263070.jpg" alt="Merienda">
                <p class="texto">Merienda</p>
            </a>
        </div>
        <div class="comida"><a href="/cena"><img src="\images\index\pexels-malidate-van-769289.jpg" alt="Cena">
                <p class="texto">Cena</p>
            </a>
        </div>
        <div class="comida"><a href="/postre"><img src="\images\index\foodiesfeed.com_ice-cream-scoops.jpg" alt="Postre">
                <p class="texto">Postre</p>
            </a>
        </div>
    </div>
    {{!-- <p>Esta pagina esta configurada para 1920 x 1080, otras resoluciones a implementar</p> --}}
    <div class="expositor">
        <img src="\images\index\salad-2756467_1280.jpg" alt="ensalada">
        <div class="descripcion">
            <h2 style="line-height: 1em;">¡Bienvenido a Easypes, el rincón culinario donde la simplicidad se encuentra
                con el sabor extraordinario!</h2>
            <p>En Easypes, no solo compartimos recetas; creamos experiencias gastronómicas que transformarán tus
                momentos en la cocina. Desde desayunos llenos de energía hasta cenas dignas de ovaciones, cada receta es
                una invitación a explorar el mundo de la cocina fácil y deliciosa.</p>
            <p>Nuestro lema es simple: hacer que cocinar sea tan placentero como disfrutar de la comida. Explora
                nuestras secciones especializadas para desayunos, almuerzos, meriendas, cenas y postres, cada una
                diseñada para hacer que tu experiencia culinaria sea inolvidable.</p>
            <p>Sumérgete en nuestras recetas, escritas con pasión y claridad, y descubre cómo cada plato puede
                convertirse en una obra maestra en tus propias manos. Además, mantente al tanto de las últimas novedades
                y noticias del mundo gastronómico en nuestra sección exclusiva.</p>
            <p>En Easypes, creemos que todos pueden ser maestros en la cocina, y estamos aquí para guiarte en cada paso
                del camino. Prepárate para explorar, experimentar y disfrutar de la magia de la cocina fácil con
                Easypes.</p>
            <p>¡Descubre el placer de cocinar de una manera simple y deliciosa!</p>
            <p>¡Bienvenido a Easypes, donde cada receta cuenta una historia de sabor!</p>
        </div>
    </div>


</main>