<div class="noticias">
    <h2 style="padding: 1em;">Novedades</h2>
    <div class="novedades">
        <h3>Titulo</h3>
        <h4>Subtitulo</h4>
        <p>Descripcion - Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita odit modi nihil,
            aspernatur iure distinctio sequi facilis vel, illum quis sunt eum dolorum cumque quos accusamus id
            quidem dignissimos velit.</p>
        <hr>
    </div>
    <div class="novedades">
        <h3>Titulo</h3>
        <h4>Subtitulo</h4>
        <p>Descripcion - Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita odit modi nihil,
            aspernatur iure distinctio sequi facilis vel, illum quis sunt eum dolorum cumque quos accusamus id
            quidem dignissimos velit.</p>
        <hr>
    </div>
    <div class="novedades">
        <h3>Titulo</h3>
        <h4>Subtitulo</h4>
        <p>Descripcion - Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita odit modi nihil,
            aspernatur iure distinctio sequi facilis vel, illum quis sunt eum dolorum cumque quos accusamus id
            quidem dignissimos velit.</p>
        <hr>
    </div>
</div>